<!doctype html>
<html lang="en"
      xmlns:th='http://www.thymeleaf.org'
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, userEntity-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Navbar</title>
</head>
<body>
<th:block th:fragment="head">
<head>
    <meta charset="UTF-8">
    <title>Brain Dissecting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
</th:block>

<div>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="/"><img alt="robot picture" src="/images/robot.jpg" class="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto col-12 justify-content-between">
                <li sec:authorize="isAuthenticated()" class="dropdown ">
                    <a href="#" class="dropdown-toggle nav-link " data-toggle="dropdown">Categories <span class="caret"></span></a>
                    <ul class="dropdown-menu bg-transparent border-0">
                        <li class="text-center" th:each="category : ${categories}">
                          <strong><a class="nav-link text-dark" th:href="@{/articles/category/{category}(category=${category.name})}"
                                th:text="${#strings.capitalize(category.name)}"></a></strong>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" href="/users/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="/users/profile">My Profile</a>
                </li>
                <li class="nav-item">
<!--                    -->
                    <a class="nav-link" sec:authorize="isAuthenticated()" href="/articles/all">All Articles</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       sec:authorize="isAuthenticated()"
                    >
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/">Action</a>
                        <a class="dropdown-item" href="/">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div  class="form-inline my-2 my-lg-0 ">
                        <div class="logged-userEntity"
                             text="Welcome, Gosho"></div>
                        <form th:method="post"
                              th:action="@{/users/logout}">
                        <input class="nav-link bg-transparent border-0" sec:authorize="isAuthenticated()" value="Logout" type="submit">
                        </form>
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link" sec:authorize="!isAuthenticated()" href="/users/login">Login</a>
                </li>

            </ul>
        </div>
    </nav>
</div>

<th:block th:fragment="favourite-button(articleId)">
    <form th:action="@{/users/{articleId}/favourites(articleId=${articleId})}" method="post">
        <button type="submit" class="btn btn-primary ml-md-4 mt-md-0">
            <i class="fa fa-heart"></i>
        </button>
    </form>
</th:block>

</body>
</html>