<!DOCTYPE html>
<html lang="en" xmlns:th='http://www.thymeleaf.org'
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <title>All Articles - Brain Dissecting</title>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
</head>

<body>

<th:block th:replace="~{fragments/commons::navbar(activeLink=${'All Articles'})}"></th:block>

<div th:if="${param.error}" class="alert alert-danger">
    <p th:switch="${param.error}">
        <span th:case="'add_article_not_found'">The article you're trying to comment on does not exist.</span>
        <span th:case="'delete_article_not_found'">The article you're trying to delete the comment from does not exist.</span>
        <span th:case="'user_not_found'">Your user information could not be verified. Please try logging in again.</span>
        <span th:case="'comment_not_found'">The comment you're trying to delete does not exist.</span>
        <span th:case="'current_user_comment_author_mismatch'">You are not the author of the comment you are trying to delete.</span>
    </p>
</div>

<div class="container">
    <h2 class="text-center text-white m-3">All Articles</h2>
    <p class="alert alert-info text-center" th:if="${allArticles.isEmpty()}">Currently, there are no articles to explore! We are working on it... Check back soon!</p>
    <div th:each=" article : ${allArticles}" class='d-flex justify-content-around'>
        <div   class="article-section d-flex flex-column">
            <div class="d-flex flex-row div-article">
                <article class="article">
                    <h2 th:text="${article.title}">
                        ARTICLE TITLE
                    </h2>
                    <h5 class="text-muted font-italic" th:text="${article.journalTitle}">Journal Title</h5>
                    <p th:text="${article.content}" ></p>
                </article>
            </div>
            <div class="d-flex justify-content-between mb-2">
                <a class="bg-primary btn ml-md-4 mt-md-0 text-white" target="_blank" th:href="${article.link}">Read the Full Study</a>
            </div>
            <div class="d-flex justify-content-between" >
                <div th:if="${!favouriteArtIds.contains(article.id)}">
                    <th:block th:replace="~{fragments/commons::favourite-button(articleId=${article.id})}"></th:block>
                </div>
                <div th:if="${favouriteArtIds.contains(article.id)}">
                    <th:block th:replace="~{fragments/commons::remove-favourite-button(articleId=${article.id})}"></th:block>
                </div>
                <div class="d-inline">
                    <div th:each="category : ${article.categories}" class="p-1 pr-4">
                        <a class="bg-primary btn text-white font-italic p-1"
                           th:href="@{/articles/category/{category}(category=${category})}"
                           th:text="${#strings.capitalize(category)}"></a>
                    </div>
                </div>
            </div>
            <div class="comments-container">
                <button
                        class="btn btn-info mt-sm-2 bg-secondary border-secondary"
                        type="button"
                        data-toggle="collapse"
                        th:data-target="'#collapse-comments-' + ${article.id}"
                        aria-expanded="false"
                        th:aria-controls="'#collapse-comments-' + ${article.id}"

                >
                    Comments
                    <small th:text="${article.comments.size()}"></small>
                </button>

                <div th:id="'collapse-comments-' + ${article.id}"
                     class="collapse align-items-lg-start p-sm-3">
                    <div id="comment-container"  th:each="comment : ${article.comments}">
                        <ul class="list-unstyled">
                            <li th:id="'comment-' + ${comment.id}">
                                <strong th:text="${comment.author}"></strong>
                                <p class="flex-lg-wrap"  th:text="${comment.content}"></p>
                            </li>
                        </ul>
                        <div
                                class="align-items-lg-start mb-5 mt-0 ml-lg-1"
                                sec:authorize="isAuthenticated()"
                                th:if="${comment.authorId} == ${currentUserId}"
                        >
                            <form th:action="@{/articles/{articleId}/comments/delete/{commentId}(articleId=${article.id}, commentId=${comment.id})}"
                                  th:method="delete"
                            >
                                <input class="btn btn-link " type="submit" value="Delete your comment">
                            </form>
                        </div>
                    </div>
                    <form th:action="@{/articles/{articleId}/comments(articleId=${article.id})}"
                          th:method="POST"
                    >
                        <div class="form-group w-75">
                            <label for="content" class="font-weight-bold text-info">Comment:</label>
                            <textarea class="form-control" name="content" id="content" cols="2" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
             <footer> </footer>
    </div>
</div>

<script src="/js/comments.js"></script>
</body>
</html>
