<!DOCTYPE html>
<html lang="en" xmlns:th='http://www.thymeleaf.org'
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
       <meta charset="UTF-8">
    <title>Brain Dissecting</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<th:block th:replace="~{/fragments/commons::nav}"></th:block>

<div class="container">
    <h2 class="text-center text-white m-3">All Articles</h2>
    <div th:each=" article : ${allArticles}" class='d-flex justify-content-around'>
        <div   class="article-section d-flex flex-column">
            <div class="d-flex flex-row div-article">
                <article class="article" >
                    <h2 th:text="${article.title}">
                        ARTICLE TITLE
                    </h2>
                    <p th:text="${article.content}" ></p>
                </article>
            </div>
            <div class="comments-container">
                <button
                        class="btn btn-info mt-sm-2 bg-secondary border-secondary"
                        type="button"
                        data-toggle="collapse"
                        th:data-target="'#collapse-comments-' + ${article.id}"
                        aria-expanded="false"
                        th:aria-controls="'#collapse-comments-' + ${article.id}"

                >
                    Comments
                </button>

                <div th:id="'collapse-comments-' + ${article.id}"
                     class="collapse align-items-lg-start p-sm-3"
                >
                    <div id="comment-container"  th:each="comment : ${article.comments}">
                        <ul class="list-unstyled">
                            <li th:id="'comment-' + ${comment.id}">
                                <strong th:text="${comment.author}"></strong>
                                <p class="flex-lg-wrap"  th:text="${comment.content}"></p>
                            </li>
                        </ul>
                        <div
                                class="align-items-lg-start mb-5 mt-0 ml-lg-1"
                                sec:authorize="isAuthenticated()"
                                th:if="${comment.authorId} == ${currentUserId}"
                        >
                            <form th:action="@{/articles/{articleId}/comments/delete/{commentId}(articleId=${article.id}, commentId=${comment.id})}"
                                  th:method="delete"
                            >
                                <input class="btn btn-link " type="submit" value="Delete your comment">
                            </form>
                        </div>
                    </div>
                    <form th:action="@{/articles/{articleId}/comments(articleId=${article.id})}"
                          th:method="POST"
                    >
                        <div class="form-group w-75">
                            <label for="content" class="font-weight-bold text-info">Comment:</label>
                            <textarea class="form-control" name="content" id="content" cols="2" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div>
             <footer> </footer>
    </div>
</div>

<script src="/js/comments.js"></script>
</body>
</html>
