<!DOCTYPE html>
<html lang="en" >

<head>
       <meta charset="UTF-8">
    <title>Brain Dissecting</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<th:block th:include="/fragments/navbar.html"></th:block>

<div class="container">
    <h2 class="text-center text-white m-3">All Articles</h2>
    <div th:each=" article : ${allArticles}" class='row mb-4 d-flex justify-content-around'>
        <div   class="brand-section col-md-5 mr-auto d-flex flex-column">
            <h2 th:text="${article.title}">
                ARTICLE TITLE
            </h2>
            <div>
                <article>
                    <p th:text="${article.content}" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad at cum deleniti deserunt dolore dolorum, eos eveniet fugit in itaque minus neque non odit officiis quas quia quos sapiente veritatis?</p>
                </article>
            </div>
        </div>
    </div>

    <div>
             <footer> </footer>
    </div>
</div>
</body>
</html>
