<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/fragments/commons::head}"></head>
<body>
<th:block th:replace="~{/fragments/commons::navbar(activeLink=${'Delete Article'})}"></th:block>

<div class="container mt-5">
    <h2 th:unless="${articles.isEmpty()}" class="text-center text-white">Delete Articles</h2>
    <h3 class="text-center text-white bg-dark p-2" th:if="${articles.isEmpty()}">Currently, there are no articles for deletion</h3>
    <div class="list-group">
        <div th:each="article : ${articles}">
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <span th:text="${article.title}"></span>
                <form th:action="@{/admin/delete-article/{articleId}(articleId=${article.id})}" th:method="delete" onsubmit="return confirm('Are you sure you want to delete this article?');">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
