<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Welcome back to Brain Dissecting</title>
    <th:block th:replace="~{/fragments/commons::head}"></th:block>
</head>
<body>
<th:block th:replace="~{fragments/commons::nav}"></th:block>
<div class="container-fluid bg-text mt-md-5 border-0">
    <h5 class="text-center text-white mt-5">
        Welcome ,  <th:block th:text="${welcomeMessage}"></th:block>!
    </h5>
    <p class="lead text-light mt-4">
        It's great to see you again on <span class="font-weight-bold font-italic">Brain Dissecting</span>. Keep exploring insightful articles and contributing to the community.
    </p>
    <p class="text-white mt-3">
        Continue where you left off by checking out your saved articles, or dive into the latest content curated just for you.
    </p>

    <div class="row">
        <div class="col-md-6">
            <h5 class="text-light">Your Favorite Articles:</h5>
            <div th:if="${favourites.isEmpty()}">
                <p class="text-warning">You haven't added any articles to your favorites yet. Start exploring and save the ones you love!</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-transparent text-light" th:each="article : ${favourites}">
                    <a th:href="@{users/favourites}" class="text-white" th:text="${article.title}"></a>
                </li>
            </ul>
        </div>

    </div>

    <p class="text-light mt-4">
        Feeling curious? <a th:href="@{/articles/all}" class="btn btn-primary">Explore All Articles</a>
    </p>
</div>

<div>
    <footer> </footer>
</div>

</body>
</html>
