<!-- manage-users.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div th:replace="fragments/commons::navbar('Manage Roles')"></div>

<div class="container mt-4">
    <h2 class="text-light">Manage Users</h2>
    <div th:if="${removeRoleSuccess}" class="alert alert-success" th:text="${removeRoleSuccess}"></div>
    <div th:if="${removeRoleFailure}" class="alert alert-danger" th:text="${removeRoleFailure}"></div>
    <div th:if="${BanSuccess}" class="alert alert-success" th:text="${BanSuccess}"></div>
    <div th:if="${BanFailure}" class="alert alert-danger" th:text="${BanFailure}"></div>
    <div th:if="${removeBanSuccess}" class="alert alert-success" th:text="${removeBanSuccess}"></div>
    <div th:if="${removeBanFailure}" class="alert alert-danger" th:text="${removeBanFailure}"></div>

    <table class="table table-striped">
        <thead>
        <tr class="bg-white text-muted font-weight-bold" >
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-dark text-white" th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
            <td th:text="${user.status}"
                th:classappend="${user.status == 'BANNED'} ? 'text-danger' : 'text-success'"></td>
            <td>
                <form th:action="@{/admin/promote-moderator/{userId}(userId=${user.id})}" th:method="post" style="display:inline;">
                    <button class="btn btn-outline-success" th:if="${!user.roles.contains('MODERATOR') && user.status.equals('ACTIVE')}">Make Moderator</button>
                </form>
                <form th:action="@{/admin/demote-moderator/{userId}(userId=${user.id})}" method="post" style="display:inline;">
                    <button class="btn btn-outline-danger" th:if="${user.roles.contains('MODERATOR')}">Remove Moderator</button>
                </form>
                <form th:action="@{/admin/ban-user/{userId}(userId=${user.id})}" method="post" style="display:inline;">
                    <button class="btn btn-outline-danger" th:if="${user.status.equals('ACTIVE')}">BAN</button>
                </form>
                <form th:action="@{/admin/remove-ban/{userId}(userId=${user.id})}" method="post" style="display:inline;">
                    <button class="btn btn-outline-primary " th:if="${user.status.equals('BANNED')}">REMOVE BAN</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
