<!-- manage-roles.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<div th:replace="fragments/commons::navbar('Manage Roles')"></div>

<div class="container mt-4">
    <h2>Manage User Roles</h2>
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <table class="table table-striped">
        <thead>
        <tr class="bg-white text-muted font-weight-bold" >
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-dark text-white" th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.roles}"></td>
            <td>
                <form th:action="@{/admin/promote-moderator/{userId}(userId=${user.id})}" th:method="post" style="display:inline;">
                    <button class="btn btn-success" th:if="${!user.roles.contains('MODERATOR')}">Make Moderator</button>
                </form>
                <form th:action="@{/admin/demote-moderator/{userId}(userId=${user.id})}" method="post" style="display:inline;">
                    <button class="btn btn-danger" th:if="${user.roles.contains('MODERATOR')}">Remove Moderator</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
