<!doctype html>
<html lang="en"
      xmlns:th='http://www.thymeleaf.org'
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>My Profile - Brain Dissecting</title>
    <th:block th:replace="~{/fragments/commons::head}"></th:block>
</head>

<body>
<th:block th:replace="~{/fragments/commons::navbar(activeLink=${'My Profile'})}"></th:block>
<div class="container mt-4  ">
    <h2 class="text-center text-white">My Profile</h2>

    <div class="card col-sm-2 col-md-3 row mx-auto d-flex flex-row justify-content-center  col-lg-4 m-1 p-0 " th:object="${user}">
        <div class="card-header">
            Personal Information
        </div>
        <div class="card-body " >
            <p><strong>Full Name:</strong> <span th:text="${user.fullName}"></span></p>
            <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
            <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
        </div>
        <div sec:authorize="hasRole('ADMIN')">
            <div class="alert alert-info col-sm-2 col-md-3 row mx-auto col-lg-4 m-1 p-0 text-center">
                <p>Admin credentials cannot be changed for security reasons.</p>
            </div>
        </div>
        <button sec:authorize="!hasRole('ADMIN')"  id="editProfileButton" class="btn btn-warning ml-md-5 mx-auto">Edit Profile</button>
    </div>

    <div id="editProfileSection" class="card col-sm-2 col-md-3 row mx-auto col-lg-4 m-1 p-0"
             th:classappend="${editProfile} ? 'd-block' : 'd-none'">

        <div class="card-header" sec:authorize="!hasRole('ADMIN')">
            Edit Profile
        </div>
        <div class="card-body">
            <form th:action="@{/users/profile/update}"
                  th:method="patch"
                  th:object="${updateData}"
            >
                <div class="form-group">
                    <label for="newUsername">New Username</label>
                    <input
                            type="text"
                            id="newUsername"
                            name="newUsername"
                            class="form-control"
                            th:field="*{newUsername}"
                            >
                    <p class="errors alert alert-danger" th:errors="*{newUsername}"></p>
                </div>

                <div class="form-group">
                    <label for="confirmUsername">Confirm New Username</label>
                    <input
                            type="text"
                            id="confirmUsername"
                            name="confirmUsername"
                            class="form-control"
                            th:field="*{confirmUsername}"
                            >
                    <p class="errors alert alert-danger" th:errors="*{confirmUsername}"></p>
                </div>
                <div class="form-group">
                    <label for="newEmail">New Email</label>
                    <input
                           id="newEmail"
                           name="newEmail"
                           class="form-control"
                           placeholder="Leave empty if you don't want to change"
                           th:field="*{newEmail}"
                           >
                    <p class="errors alert alert-danger" th:errors="*{newEmail}"></p>
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>
            <div th:if="${usernameOrEmailTaken}" class="alert alert-danger mt-2">
                <span th:text="${usernameOrEmailTaken}"></span>
            </div>
            <div th:if="${usernameConfUsernameMissMatch}" class="alert alert-danger mt-2">
                <span th:text="${usernameConfUsernameMissMatch}"></span>
            </div>
        </div>
    </div>
    <div th:if="${successMessage}" class="alert alert-success mt-2 card col-sm-2 col-md-3 row mx-auto col-lg-4 m-1 p-0">
        <span th:text="${successMessage}"></span>
    </div>
</div>
<script src="/js/my-profile.js"></script>
</body>
</html>