<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</head>
<body>
<th:block th:replace="~{/fragments/commons::nav}"></th:block>
<div class="container mt-4  ">
    <h2 class="text-center">My Profile</h2>

    <div class="card col-sm-2 col-md-3 row mx-auto d-flex flex-row justify-content-center  col-lg-4 m-1 p-0 " th:object="${user}">
        <div class="card-header">
            Personal Information
        </div>
        <div class="card-body " >
            <p><strong>Full Name:</strong> <span th:text="${user.fullName}"></span></p>
            <p><strong>Username:</strong> <span th:text="${user.username}"></span></p>
            <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
        </div>
        <button id="editProfileButton" class="btn btn-warning ml-md-5 mx-auto">Edit Profile</button>
    </div>

    <div id="editProfileSection" class="card col-sm-2 col-md-3 row mx-auto col-lg-4 m-1 p-0"
             th:classappend="${editProfile} ? 'd-block' : 'd-none'"
    >
        <div class="card-header">
            Edit Profile
        </div>
        <div class="card-body">
            <!-- Username Change Form -->
            <form th:action="@{/users/profile/update}"
                  th:method="patch"
                  th:object="${updateData}"
            >
                <div class="form-group">
                    <label for="newUsername">New Username</label>
                    <input
                            type="text"
                            id="newUsername"
                            name="newUsername"
                            class="form-control"
                            th:field="*{newUsername}"
                            >
                    <p class="errors alert alert-danger" th:errors="*{newUsername}"></p>
                </div>

                <div class="form-group">
                    <label for="confirmUsername">Confirm New Username</label>
                    <input
                            type="text"
                            id="confirmUsername"
                            name="confirmUsername"
                            class="form-control"
                            th:field="*{confirmUsername}"
                            >
                    <p class="errors alert alert-danger" th:errors="*{confirmUsername}"></p>
                </div>

                <!-- Email Change Form -->
                <div class="form-group">
                    <label for="newEmail">New Email</label>
                    <input
                           id="newEmail"
                           name="newEmail"
                           class="form-control"
                           th:field="*{newEmail}"
                           >
                    <p class="errors alert alert-danger" th:errors="*{newEmail}"></p>
                </div>

                <button type="submit" class="btn btn-primary">Save Changes</button>
            </form>

            <!-- Display Success/Error Messages -->
            <div th:if="${usernameOrEmailTaken}" class="alert alert-danger mt-2">
                <span th:text="${usernameOrEmailTaken}"></span>
            </div>
            <div th:if="${usernameConfUsernameMissMatch}" class="alert alert-danger mt-2">
                <span th:text="${usernameConfUsernameMissMatch}"></span>
            </div>
        </div>
    </div>
    <div th:if="${successMessage}" class="alert alert-success mt-2 card col-sm-2 col-md-3 row mx-auto col-lg-4 m-1 p-0">
        <span th:text="${successMessage}"></span>
    </div>

    <!-- Username Change Form -->
<!--    <div class="card mt-3">-->
<!--        <div class="card-header">-->
<!--            Change Username-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--            <form th:action="@{/profile/change-username}" th:method="post">-->
<!--                <div class="form-group">-->
<!--                    <label for="newUsername">New Username</label>-->
<!--                    <input type="text" id="newUsername" name="newUsername" class="form-control" required>-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary">Change Username</button>-->
<!--            </form>-->

<!--            &lt;!&ndash; Display any messages, such as success or error &ndash;&gt;-->
<!--            <div th:if="${successMessage}" class="alert alert-success mt-2">-->
<!--                <span th:text="${successMessage}"></span>-->
<!--            </div>-->
<!--            <div th:if="${errorMessage}" class="alert alert-danger mt-2">-->
<!--                <span th:text="${errorMessage}"></span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


</div>
<!--<script src="/js/bootstrap.min.js"></script>-->
<script src="/js/my-profile.js"></script>
</body>
</html>